@font-face {
	font-family: 'font-icons';
	src:url('../fonts/font-icons.eot');
	src:url('../fonts/font-icons.eot') format('embedded-opentype'),
		url('../fonts/font-icons.woff') format('woff'),
		url('../fonts/font-icons.ttf') format('truetype'),
		url('../fonts/font-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'font-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\e740";
}
.icon-youtube_alt3:before {
	content: "\e741";
}
.icon-youtube_alt2:before {
	content: "\e742";
}
.icon-youtube_alt:before {
	content: "\e743";
}
.icon-yahoo:before {
	content: "\e744";
}
.icon-yahoo_alt3:before {
	content: "\e745";
}
.icon-yahoo_alt2:before {
	content: "\e746";
}
.icon-yahoo_alt:before {
	content: "\e747";
}
.icon-wordpress:before {
	content: "\e748";
}
.icon-wordpress_alt3:before {
	content: "\e749";
}
.icon-wordpress_alt2:before {
	content: "\e74a";
}
.icon-wordpress_alt:before {
	content: "\e74b";
}
.icon-windows2:before {
	content: "\e74c";
}
.icon-windows_alt3:before {
	content: "\e74d";
}
.icon-windows_alt2:before {
	content: "\e74e";
}
.icon-windows_alt:before {
	content: "\e74f";
}
.icon-vimeo:before {
	content: "\e750";
}
.icon-vimeo_alt3:before {
	content: "\e751";
}
.icon-vimeo_alt2:before {
	content: "\e752";
}
.icon-vimeo_alt:before {
	content: "\e753";
}
.icon-twitter:before {
	content: "\e754";
}
.icon-twitter_alt3:before {
	content: "\e755";
}
.icon-twitter_alt2:before {
	content: "\e756";
}
.icon-twitter_alt:before {
	content: "\e757";
}
.icon-stumbleupon:before {
	content: "\e758";
}
.icon-stumbleupon_alt3:before {
	content: "\e759";
}
.icon-stumbleupon_alt2:before {
	content: "\e75a";
}
.icon-stumbleupon_alt:before {
	content: "\e75b";
}
.icon-skype:before {
	content: "\e75c";
}
.icon-skype_alt3:before {
	content: "\e75d";
}
.icon-skype_alt2:before {
	content: "\e75e";
}
.icon-skype_alt:before {
	content: "\e75f";
}
.icon-rss:before {
	content: "\e760";
}
.icon-rss_alt3:before {
	content: "\e761";
}
.icon-rss_alt2:before {
	content: "\e762";
}
.icon-rss_alt:before {
	content: "\e763";
}
.icon-myspace:before {
	content: "\e764";
}
.icon-myspace_alt3:before {
	content: "\e765";
}
.icon-myspace_alt2:before {
	content: "\e766";
}
.icon-myspace_alt:before {
	content: "\e767";
}
.icon-linkedin:before {
	content: "\e768";
}
.icon-linkedin_alt3:before {
	content: "\e769";
}
.icon-linkedin_alt2:before {
	content: "\e76a";
}
.icon-linkedin_alt:before {
	content: "\e76b";
}
.icon-facebook:before {
	content: "\e76c";
}
.icon-facebook_alt3:before {
	content: "\e76d";
}
.icon-facebook_alt2:before {
	content: "\e76e";
}
.icon-facebook_alt:before {
	content: "\e76f";
}
.icon-dribbble:before {
	content: "\e770";
}
.icon-dribbble_alt3:before {
	content: "\e771";
}
.icon-dribbble_alt2:before {
	content: "\e772";
}
.icon-dribbble_alt:before {
	content: "\e773";
}
.icon-blogger:before {
	content: "\e774";
}
.icon-blogger_alt3:before {
	content: "\e775";
}
.icon-blogger_alt2:before {
	content: "\e776";
}
.icon-blogger_alt:before {
	content: "\e777";
}
.icon-behance_alt3:before {
	content: "\e778";
}
.icon-behance_alt2:before {
	content: "\e779";
}
.icon-behance_alt:before {
	content: "\e77a";
}
.icon-behace:before {
	content: "\e77b";
}
.icon-apple2:before {
	content: "\e77c";
}
.icon-apple_alt3:before {
	content: "\e77d";
}
.icon-apple_alt2:before {
	content: "\e77e";
}
.icon-apple_alt4:before {
	content: "\e77f";
}
.icon-wine2:before {
	content: "\e780";
}
.icon-wine_alt2:before {
	content: "\e781";
}
.icon-water2:before {
	content: "\e782";
}
.icon-trophy2:before {
	content: "\e783";
}
.icon-trash_can2:before {
	content: "\e784";
}
.icon-test_tube2:before {
	content: "\e785";
}
.icon-tea2:before {
	content: "\e786";
}
.icon-tag2:before {
	content: "\e787";
}
.icon-spatula2:before {
	content: "\e788";
}
.icon-soda2:before {
	content: "\e789";
}
.icon-shopping_bag2:before {
	content: "\e78a";
}
.icon-serving_tray2:before {
	content: "\e78b";
}
.icon-radioactive2:before {
	content: "\e78c";
}
.icon-popsicle2:before {
	content: "\e78d";
}
.icon-popsicle_alt2:before {
	content: "\e78e";
}
.icon-plate2:before {
	content: "\e78f";
}
.icon-planet2:before {
	content: "\e790";
}
.icon-pizza2:before {
	content: "\e791";
}
.icon-pizza_alt2:before {
	content: "\e792";
}
.icon-mustard2:before {
	content: "\e793";
}
.icon-muffin2:before {
	content: "\e794";
}
.icon-memo2:before {
	content: "\e795";
}
.icon-medal2:before {
	content: "\e796";
}
.icon-magnet2:before {
	content: "\e797";
}
.icon-life_saver2:before {
	content: "\e798";
}
.icon-leaf2:before {
	content: "\e799";
}
.icon-lamp2:before {
	content: "\e79a";
}
.icon-knife_fork2:before {
	content: "\e79b";
}
.icon-king2:before {
	content: "\e79c";
}
.icon-ketchup2:before {
	content: "\e79d";
}
.icon-jar2:before {
	content: "\e79e";
}
.icon-ice_cream_cone22:before {
	content: "\e79f";
}
.icon-ice_cream_cone2_alt2:before {
	content: "\e7a0";
}
.icon-ice_cream_cone3:before {
	content: "\e7a1";
}
.icon-ice_cream_cone_alt2:before {
	content: "\e7a2";
}
.icon-home2:before {
	content: "\e7a3";
}
.icon-heart2:before {
	content: "\e7a4";
}
.icon-grill2:before {
	content: "\e7a5";
}
.icon-grill_alt2:before {
	content: "\e7a6";
}
.icon-globe2:before {
	content: "\e7a7";
}
.icon-glasses2:before {
	content: "\e7a8";
}
.icon-glass_of_water2:before {
	content: "\e7a9";
}
.icon-gavel2:before {
	content: "\e7aa";
}
.icon-fridge2:before {
	content: "\e7ab";
}
.icon-fork_spoon2:before {
	content: "\e7ac";
}
.icon-flask2:before {
	content: "\e7ad";
}
.icon-flask_alt2:before {
	content: "\e7ae";
}
.icon-fish2:before {
	content: "\e7af";
}
.icon-eye2:before {
	content: "\e7b0";
}
.icon-egg2:before {
	content: "\e7b1";
}
.icon-earth2:before {
	content: "\e7b2";
}
.icon-drumstick2:before {
	content: "\e7b3";
}
.icon-drumstick_alt2:before {
	content: "\e7b4";
}
.icon-dice2:before {
	content: "\e7b5";
}
.icon-crown2:before {
	content: "\e7b6";
}
.icon-credit_card2:before {
	content: "\e7b7";
}
.icon-chef_hat2:before {
	content: "\e7b8";
}
.icon-bowl2:before {
	content: "\e7b9";
}
.icon-bowl_spoon2:before {
	content: "\e7ba";
}
.icon-bowl_chop_sticks2:before {
	content: "\e7bb";
}
.icon-bottle2:before {
	content: "\e7bc";
}
.icon-asterisk2:before {
	content: "\e7bd";
}
.icon-apple3:before {
	content: "\e7be";
}
.icon-apple_alt5:before {
	content: "\e7bf";
}
.icon-user_delete2:before {
	content: "\e7c0";
}
.icon-user_delete_alt2:before {
	content: "\e7c1";
}
.icon-user_add2:before {
	content: "\e7c2";
}
.icon-unlock2:before {
	content: "\e7c3";
}
.icon-unlock_alt2:before {
	content: "\e7c4";
}
.icon-umbrella2:before {
	content: "\e7c5";
}
.icon-tie2:before {
	content: "\e7c6";
}
.icon-thumb_tac2:before {
	content: "\e7c7";
}
.icon-star2:before {
	content: "\e7c8";
}
.icon-star_alt2:before {
	content: "\e7c9";
}
.icon-square_chat2:before {
	content: "\e7ca";
}
.icon-square_chat_alt22:before {
	content: "\e7cb";
}
.icon-square_chat_alt3:before {
	content: "\e7cc";
}
.icon-shield2:before {
	content: "\e7cd";
}
.icon-share2:before {
	content: "\e7ce";
}
.icon-scope2:before {
	content: "\e7cf";
}
.icon-recycle2:before {
	content: "\e7d0";
}
.icon-recycle_alt3:before {
	content: "\e7d1";
}
.icon-power2:before {
	content: "\e7d2";
}
.icon-plus2:before {
	content: "\e7d3";
}
.icon-pill2:before {
	content: "\e7d4";
}
.icon-pie_chart2:before {
	content: "\e7d5";
}
.icon-person2:before {
	content: "\e7d6";
}
.icon-people2:before {
	content: "\e7d7";
}
.icon-pencil2:before {
	content: "\e7d8";
}
.icon-pen2:before {
	content: "\e7d9";
}
.icon-paper_tray2:before {
	content: "\e7da";
}
.icon-paper_clip2:before {
	content: "\e7db";
}
.icon-paintbrush2:before {
	content: "\e7dc";
}
.icon-no2:before {
	content: "\e7dd";
}
.icon-move2:before {
	content: "\e7de";
}
.icon-moustache2:before {
	content: "\e7df";
}
.icon-minus2:before {
	content: "\e7e0";
}
.icon-mask2:before {
	content: "\e7e1";
}
.icon-map2:before {
	content: "\e7e2";
}
.icon-male2:before {
	content: "\e7e3";
}
.icon-lock2:before {
	content: "\e7e4";
}
.icon-lock_alt2:before {
	content: "\e7e5";
}
.icon-key2:before {
	content: "\e7e6";
}
.icon-folder2:before {
	content: "\e7e7";
}
.icon-folder_delete2:before {
	content: "\e7e8";
}
.icon-folder_alt2:before {
	content: "\e7e9";
}
.icon-folder_add2:before {
	content: "\e7ea";
}
.icon-first_aid2:before {
	content: "\e7eb";
}
.icon-female2:before {
	content: "\e7ec";
}
.icon-envelope_out2:before {
	content: "\e7ed";
}
.icon-envelope_opened2:before {
	content: "\e7ee";
}
.icon-envelope_in2:before {
	content: "\e7ef";
}
.icon-envelope_closed2:before {
	content: "\e7f0";
}
.icon-dim2:before {
	content: "\e7f1";
}
.icon-delete3:before {
	content: "\e7f2";
}
.icon-cube2:before {
	content: "\e7f3";
}
.icon-circle_chat2:before {
	content: "\e7f4";
}
.icon-circle_chat_alt22:before {
	content: "\e7f5";
}
.icon-circle_chat_alt3:before {
	content: "\e7f6";
}
.icon-check3:before {
	content: "\e7f7";
}
.icon-caution2:before {
	content: "\e7f8";
}
.icon-caution_alt2:before {
	content: "\e7f9";
}
.icon-cabinet2:before {
	content: "\e7fa";
}
.icon-burn2:before {
	content: "\e7fb";
}
.icon-bright2:before {
	content: "\e7fc";
}
.icon-briefcase2:before {
	content: "\e7fd";
}
.icon-box2:before {
	content: "\e7fe";
}
.icon-alt2:before {
	content: "\e7ff";
}
.icon-zoom_out2:before {
	content: "\e800";
}
.icon-zoom_out_alt2:before {
	content: "\e801";
}
.icon-zoom_in2:before {
	content: "\e802";
}
.icon-zoom_in_alt2:before {
	content: "\e803";
}
.icon-wrench2:before {
	content: "\e804";
}
.icon-windows3:before {
	content: "\e805";
}
.icon-window3:before {
	content: "\e806";
}
.icon-wifi2:before {
	content: "\e807";
}
.icon-web_layout2:before {
	content: "\e808";
}
.icon-watch2:before {
	content: "\e809";
}
.icon-usb2:before {
	content: "\e80a";
}
.icon-upload2:before {
	content: "\e80b";
}
.icon-train2:before {
	content: "\e80c";
}
.icon-shuffle2:before {
	content: "\e80d";
}
.icon-shock2:before {
	content: "\e80e";
}
.icon-plug2:before {
	content: "\e80f";
}
.icon-plane2:before {
	content: "\e810";
}
.icon-phone2:before {
	content: "\e811";
}
.icon-outlet2:before {
	content: "\e812";
}
.icon-megaphone2:before {
	content: "\e813";
}
.icon-magnifying_glass2:before {
	content: "\e814";
}
.icon-location_pin2:before {
	content: "\e815";
}
.icon-link2:before {
	content: "\e816";
}
.icon-light_bulb2:before {
	content: "\e817";
}
.icon-iphone2:before {
	content: "\e818";
}
.icon-info2:before {
	content: "\e819";
}
.icon-info_alt2:before {
	content: "\e81a";
}
.icon-hourglass2:before {
	content: "\e81b";
}
.icon-gear2:before {
	content: "\e81c";
}
.icon-gauge2:before {
	content: "\e81d";
}
.icon-gas2:before {
	content: "\e81e";
}
.icon-floppy_disk2:before {
	content: "\e81f";
}
.icon-flashlight2:before {
	content: "\e820";
}
.icon-flash_drive2:before {
	content: "\e821";
}
.icon-flag2:before {
	content: "\e822";
}
.icon-flag_alt2:before {
	content: "\e823";
}
.icon-firewire2:before {
	content: "\e824";
}
.icon-ethernet2:before {
	content: "\e825";
}
.icon-edit2:before {
	content: "\e826";
}
.icon-download2:before {
	content: "\e827";
}
.icon-download_alt3:before {
	content: "\e828";
}
.icon-dashboard2:before {
	content: "\e829";
}
.icon-coverflow2:before {
	content: "\e82a";
}
.icon-contrast2:before {
	content: "\e82b";
}
.icon-compass2:before {
	content: "\e82c";
}
.icon-command2:before {
	content: "\e82d";
}
.icon-code2:before {
	content: "\e82e";
}
.icon-cloud2:before {
	content: "\e82f";
}
.icon-cloud_upload2:before {
	content: "\e830";
}
.icon-cloud_upload_alt2:before {
	content: "\e831";
}
.icon-cloud_download2:before {
	content: "\e832";
}
.icon-cloud_delete2:before {
	content: "\e833";
}
.icon-cloud_check2:before {
	content: "\e834";
}
.icon-clock2:before {
	content: "\e835";
}
.icon-cellphone2:before {
	content: "\e836";
}
.icon-calculator2:before {
	content: "\e837";
}
.icon-bus2:before {
	content: "\e838";
}
.icon-bluetooth2:before {
	content: "\e839";
}
.icon-bell2:before {
	content: "\e83a";
}
.icon-battery2:before {
	content: "\e83b";
}
.icon-battery_charge2:before {
	content: "\e83c";
}
.icon-battery_alt22:before {
	content: "\e83d";
}
.icon-battery_alt3:before {
	content: "\e83e";
}
.icon-alarm_clock2:before {
	content: "\e83f";
}
.icon-zip_file2:before {
	content: "\e840";
}
.icon-volume2:before {
	content: "\e841";
}
.icon-volume_subtract2:before {
	content: "\e842";
}
.icon-volume_min2:before {
	content: "\e843";
}
.icon-volume_max2:before {
	content: "\e844";
}
.icon-volume_levels2:before {
	content: "\e845";
}
.icon-volume_add2:before {
	content: "\e846";
}
.icon-vinyl2:before {
	content: "\e847";
}
.icon-tv2:before {
	content: "\e848";
}
.icon-stop2:before {
	content: "\e849";
}
.icon-speaker2:before {
	content: "\e84a";
}
.icon-spades2:before {
	content: "\e84b";
}
.icon-rewind2:before {
	content: "\e84c";
}
.icon-record2:before {
	content: "\e84d";
}
.icon-psp2:before {
	content: "\e84e";
}
.icon-printer2:before {
	content: "\e84f";
}
.icon-printer_alt2:before {
	content: "\e850";
}
.icon-previous2:before {
	content: "\e851";
}
.icon-play2:before {
	content: "\e852";
}
.icon-photos2:before {
	content: "\e853";
}
.icon-photos_blank2:before {
	content: "\e854";
}
.icon-photos_alt2:before {
	content: "\e855";
}
.icon-photo2:before {
	content: "\e856";
}
.icon-pause2:before {
	content: "\e857";
}
.icon-page2:before {
	content: "\e858";
}
.icon-next2:before {
	content: "\e859";
}
.icon-new_document2:before {
	content: "\e85a";
}
.icon-mute2:before {
	content: "\e85b";
}
.icon-mute_alt2:before {
	content: "\e85c";
}
.icon-music2:before {
	content: "\e85d";
}
.icon-music_player2:before {
	content: "\e85e";
}
.icon-music_alt2:before {
	content: "\e85f";
}
.icon-mic2:before {
	content: "\e860";
}
.icon-mic_alt2:before {
	content: "\e861";
}
.icon-keyboard2:before {
	content: "\e862";
}
.icon-ipod2:before {
	content: "\e863";
}
.icon-ipad2:before {
	content: "\e864";
}
.icon-identification2:before {
	content: "\e865";
}
.icon-hearts2:before {
	content: "\e866";
}
.icon-headphones2:before {
	content: "\e867";
}
.icon-game_controller2:before {
	content: "\e868";
}
.icon-film_strip2:before {
	content: "\e869";
}
.icon-fast_forward2:before {
	content: "\e86a";
}
.icon-eject2:before {
	content: "\e86b";
}
.icon-document2:before {
	content: "\e86c";
}
.icon-diamonds2:before {
	content: "\e86d";
}
.icon-delete_document2:before {
	content: "\e86e";
}
.icon-computer_mouse2:before {
	content: "\e86f";
}
.icon-computer_monitor2:before {
	content: "\e870";
}
.icon-clubs2:before {
	content: "\e871";
}
.icon-clipboard2:before {
	content: "\e872";
}
.icon-clipboard_delete2:before {
	content: "\e873";
}
.icon-clipboard_check2:before {
	content: "\e874";
}
.icon-clipboard_alt2:before {
	content: "\e875";
}
.icon-cd2:before {
	content: "\e876";
}
.icon-cassette2:before {
	content: "\e877";
}
.icon-camera2:before {
	content: "\e878";
}
.icon-calendar2:before {
	content: "\e879";
}
.icon-calendar_alt2:before {
	content: "\e87a";
}
.icon-bookmark2:before {
	content: "\e87b";
}
.icon-book2:before {
	content: "\e87c";
}
.icon-blank_document2:before {
	content: "\e87d";
}
.icon-addressbook2:before {
	content: "\e87e";
}
.icon-action_board2:before {
	content: "\e87f";
}
.icon-window4:before {
	content: "\e880";
}
.icon-upload_alt2:before {
	content: "\e881";
}
.icon-traffic2:before {
	content: "\e882";
}
.icon-thumbnails2:before {
	content: "\e883";
}
.icon-thumbnails_small2:before {
	content: "\e884";
}
.icon-thumbnail_list2:before {
	content: "\e885";
}
.icon-sync2:before {
	content: "\e886";
}
.icon-subtract_window2:before {
	content: "\e887";
}
.icon-stats_up2:before {
	content: "\e888";
}
.icon-stats_up_alt2:before {
	content: "\e889";
}
.icon-stats_down2:before {
	content: "\e88a";
}
.icon-stats_down_alt2:before {
	content: "\e88b";
}
.icon-return2:before {
	content: "\e88c";
}
.icon-return_alt2:before {
	content: "\e88d";
}
.icon-replay2:before {
	content: "\e88e";
}
.icon-repeat2:before {
	content: "\e88f";
}
.icon-recycle_alt4:before {
	content: "\e890";
}
.icon-panel_show2:before {
	content: "\e891";
}
.icon-panel_close2:before {
	content: "\e892";
}
.icon-outdent2:before {
	content: "\e893";
}
.icon-multiple_windows2:before {
	content: "\e894";
}
.icon-minimize2:before {
	content: "\e895";
}
.icon-logout2:before {
	content: "\e896";
}
.icon-login2:before {
	content: "\e897";
}
.icon-list2:before {
	content: "\e898";
}
.icon-layout2:before {
	content: "\e899";
}
.icon-layout_alt22:before {
	content: "\e89a";
}
.icon-layout_alt3:before {
	content: "\e89b";
}
.icon-indent2:before {
	content: "\e89c";
}
.icon-graph2:before {
	content: "\e89d";
}
.icon-graph_alt22:before {
	content: "\e89e";
}
.icon-graph_alt3:before {
	content: "\e89f";
}
.icon-fullscreen2:before {
	content: "\e8a0";
}
.icon-forward2:before {
	content: "\e8a1";
}
.icon-forward_alt2:before {
	content: "\e8a2";
}
.icon-expand2:before {
	content: "\e8a3";
}
.icon-exit_fullscreen2:before {
	content: "\e8a4";
}
.icon-exit_fullscreen_alt2:before {
	content: "\e8a5";
}
.icon-download_alt4:before {
	content: "\e8a6";
}
.icon-diagonal_navigation2:before {
	content: "\e8a7";
}
.icon-delete4:before {
	content: "\e8a8";
}
.icon-delete_alt2:before {
	content: "\e8a9";
}
.icon-command_prompt2:before {
	content: "\e8aa";
}
.icon-close_window2:before {
	content: "\e8ab";
}
.icon-check4:before {
	content: "\e8ac";
}
.icon-check_window2:before {
	content: "\e8ad";
}
.icon-check_alt2:before {
	content: "\e8ae";
}
.icon-back2:before {
	content: "\e8af";
}
.icon-back_alt2:before {
	content: "\e8b0";
}
.icon-arrow_up2:before {
	content: "\e8b1";
}
.icon-arrow_up_alt2:before {
	content: "\e8b2";
}
.icon-arrow_right2:before {
	content: "\e8b3";
}
.icon-arrow_right_alt2:before {
	content: "\e8b4";
}
.icon-arrow_left2:before {
	content: "\e8b5";
}
.icon-arrow_left_alt2:before {
	content: "\e8b6";
}
.icon-arrow_down2:before {
	content: "\e8b7";
}
.icon-arrow_down_alt2:before {
	content: "\e8b8";
}
.icon-Arrow3CircleRight2:before {
	content: "\e8b9";
}
.icon-Arrow3CircleLeft2:before {
	content: "\e8ba";
}
.icon-Arrow2Right2:before {
	content: "\e8bb";
}
.icon-Arrow2Left2:before {
	content: "\e8bc";
}
.icon-Arrow2CircleRight2:before {
	content: "\e8bd";
}
.icon-Arrow2CircleLeft2:before {
	content: "\e8be";
}
.icon-add_window2:before {
	content: "\e8bf";
}
.icon-world:before {
	content: "\e600";
}
.icon-woman:before {
	content: "\e601";
}
.icon-windows:before {
	content: "\e602";
}
.icon-wallet:before {
	content: "\e603";
}
.icon-users:before {
	content: "\e604";
}
.icon-user2:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-user-chat:before {
	content: "\e607";
}
.icon-trashcan:before {
	content: "\e608";
}
.icon-touch:before {
	content: "\e609";
}
.icon-touch-direction:before {
	content: "\e60a";
}
.icon-touch-circle:before {
	content: "\e60b";
}
.icon-tools:before {
	content: "\e60c";
}
.icon-target2:before {
	content: "\e60d";
}
.icon-target:before {
	content: "\e60e";
}
.icon-stopwatch:before {
	content: "\e60f";
}
.icon-stack-chat:before {
	content: "\e610";
}
.icon-speaker:before {
	content: "\e611";
}
.icon-shield:before {
	content: "\e612";
}
.icon-search-world:before {
	content: "\e613";
}
.icon-scissors:before {
	content: "\e614";
}
.icon-scales:before {
	content: "\e615";
}
.icon-safe2:before {
	content: "\e616";
}
.icon-safe:before {
	content: "\e617";
}
.icon-refresh:before {
	content: "\e618";
}
.icon-puzzle:before {
	content: "\e619";
}
.icon-presentation:before {
	content: "\e61a";
}
.icon-pos:before {
	content: "\e61b";
}
.icon-piggy-bank4:before {
	content: "\e61c";
}
.icon-piggy-bank3:before {
	content: "\e61d";
}
.icon-piggy-bank2:before {
	content: "\e61e";
}
.icon-piggy-bank:before {
	content: "\e61f";
}
.icon-percent:before {
	content: "\e620";
}
.icon-people-shaking-hands:before {
	content: "\e621";
}
.icon-news:before {
	content: "\e622";
}
.icon-money-talk:before {
	content: "\e623";
}
.icon-money-hand:before {
	content: "\e624";
}
.icon-money-cycle:before {
	content: "\e625";
}
.icon-money-case:before {
	content: "\e626";
}
.icon-money-bag2:before {
	content: "\e627";
}
.icon-money-bag:before {
	content: "\e628";
}
.icon-map:before {
	content: "\e629";
}
.icon-man:before {
	content: "\e62a";
}
.icon-lightbulb2:before {
	content: "\e62b";
}
.icon-lightbulb:before {
	content: "\e62c";
}
.icon-iphone-money:before {
	content: "\e62d";
}
.icon-iphone-chart:before {
	content: "\e62e";
}
.icon-iphone-bank-chat:before {
	content: "\e62f";
}
.icon-id-woman:before {
	content: "\e630";
}
.icon-id-man:before {
	content: "\e631";
}
.icon-helpdesk:before {
	content: "\e632";
}
.icon-hand-shake:before {
	content: "\e633";
}
.icon-gears:before {
	content: "\e634";
}
.icon-gavel:before {
	content: "\e635";
}
.icon-folders:before {
	content: "\e636";
}
.icon-folder:before {
	content: "\e637";
}
.icon-folder-electronic:before {
	content: "\e638";
}
.icon-euro-to-dollar:before {
	content: "\e639";
}
.icon-euro-hand:before {
	content: "\e63a";
}
.icon-dollars:before {
	content: "\e63b";
}
.icon-doc-stamp:before {
	content: "\e63c";
}
.icon-doc-report:before {
	content: "\e63d";
}
.icon-doc-money:before {
	content: "\e63e";
}
.icon-doc-lock:before {
	content: "\e63f";
}
.icon-doc-filed2:before {
	content: "\e640";
}
.icon-doc-filed:before {
	content: "\e641";
}
.icon-doc-edit:before {
	content: "\e642";
}
.icon-doc-destroy:before {
	content: "\e643";
}
.icon-doc-cert:before {
	content: "\e644";
}
.icon-doc-approve2:before {
	content: "\e645";
}
.icon-doc-approve:before {
	content: "\e646";
}
.icon-diamond:before {
	content: "\e647";
}
.icon-desklamp:before {
	content: "\e648";
}
.icon-contacts:before {
	content: "\e649";
}
.icon-computer:before {
	content: "\e64a";
}
.icon-computer-lock:before {
	content: "\e64b";
}
.icon-computer-gears:before {
	content: "\e64c";
}
.icon-coin-yen:before {
	content: "\e64d";
}
.icon-coin-us:before {
	content: "\e64e";
}
.icon-coin-us-stack:before {
	content: "\e64f";
}
.icon-coin-stack:before {
	content: "\e650";
}
.icon-coin-pound:before {
	content: "\e651";
}
.icon-coin-euro:before {
	content: "\e652";
}
.icon-coin-euro-stack:before {
	content: "\e653";
}
.icon-coffee:before {
	content: "\e654";
}
.icon-cheque2:before {
	content: "\e655";
}
.icon-cheque:before {
	content: "\e656";
}
.icon-checkbook:before {
	content: "\e657";
}
.icon-charts:before {
	content: "\e658";
}
.icon-chart-stand2:before {
	content: "\e659";
}
.icon-chart-stand:before {
	content: "\e65a";
}
.icon-chart-pie2:before {
	content: "\e65b";
}
.icon-chart-pie:before {
	content: "\e65c";
}
.icon-chart-line:before {
	content: "\e65d";
}
.icon-chart-bar4:before {
	content: "\e65e";
}
.icon-chart-bar3:before {
	content: "\e65f";
}
.icon-chart-bar2:before {
	content: "\e660";
}
.icon-chart-bar:before {
	content: "\e661";
}
.icon-chart-bar-tablet:before {
	content: "\e662";
}
.icon-chart-bar-computer:before {
	content: "\e663";
}
.icon-chair:before {
	content: "\e664";
}
.icon-cash-register:before {
	content: "\e665";
}
.icon-cards:before {
	content: "\e666";
}
.icon-card:before {
	content: "\e667";
}
.icon-card-visa:before {
	content: "\e668";
}
.icon-card-payal:before {
	content: "\e669";
}
.icon-card-money:before {
	content: "\e66a";
}
.icon-card-mastercard:before {
	content: "\e66b";
}
.icon-card-credit-dollar:before {
	content: "\e66c";
}
.icon-card-bank:before {
	content: "\e66d";
}
.icon-card-amex:before {
	content: "\e66e";
}
.icon-calendar:before {
	content: "\e66f";
}
.icon-calculator22:before {
	content: "\e670";
}
.icon-calculator:before {
	content: "\e671";
}
.icon-calculator-touch:before {
	content: "\e672";
}
.icon-calc-buttons:before {
	content: "\e673";
}
.icon-building:before {
	content: "\e674";
}
.icon-briefcase:before {
	content: "\e675";
}
.icon-book22:before {
	content: "\e676";
}
.icon-book:before {
	content: "\e677";
}
.icon-bank2:before {
	content: "\e678";
}
.icon-bank:before {
	content: "\e679";
}
.icon-atm:before {
	content: "\e67a";
}
.icon-arrow-right:before {
	content: "\e67b";
}
.icon-arrow-hz:before {
	content: "\e67c";
}
.icon-addressbook:before {
	content: "\e67d";
}
.icon-road:before {
	content: "\f018";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-book3:before {
	content: "\f02d";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-picture-o:before {
	content: "\f03e";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-crosshairs:before {
	content: "\f05b";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right2:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-fire:before {
	content: "\f06d";
}
.icon-plane:before {
	content: "\f072";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-filter:before {
	content: "\f0b0";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-columns:before {
	content: "\f0db";
}
.icon-unsorted:before {
	content: "\f0dc";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-sort-up:before {
	content: "\f0de";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-bell-o:before {
	content: "\f0f3";
}
.icon-coffee2:before {
	content: "\f0f4";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-meh-o:before {
	content: "\f11a";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-euro:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-rupee:before {
	content: "\f156";
}
.icon-cny:before {
	content: "\f157";
}
.icon-ruble:before {
	content: "\f158";
}
.icon-won:before {
	content: "\f159";
}
.icon-bitcoin:before {
	content: "\f15a";
}
.icon-sort-alpha-asc:before {
	content: "\f15d";
}
.icon-sort-alpha-desc:before {
	content: "\f15e";
}
.icon-sort-amount-asc:before {
	content: "\f160";
}
.icon-sort-amount-desc:before {
	content: "\f161";
}
.icon-sort-numeric-asc:before {
	content: "\f162";
}
.icon-sort-numeric-desc:before {
	content: "\f163";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-bug:before {
	content: "\f188";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-dot-circle-o:before {
	content: "\f192";
}
.icon-wheelchair:before {
	content: "\f193";
}
